---

---

<nav>
  <ul class="flex gap-4 text-lg lowercase text-secondary">
    <li class="hover:border-b">
      <a class="hover:text-primary" href="#projects">Project</a>
    </li>
    <li class="hover:border-b">
      <a class="hover:text-primary" href="#skills">Skills</a>
    </li>
    <li class="hover:border-b">
      <a class="hover:text-primary" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
